<a href="https://colab.research.google.com/github/TayTechie07/HR-Analytics-Employee-Performance-Prediction-Model/blob/main/Employee_Performance_Prediction_using_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Uncleaned_employees_final_dataset (1).csv")

In [3]:
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met_more_than_80,awards_won,avg_training_score
0,8724,Technology,region_26,Bachelors,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelors,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelors,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelors,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelors,m,sourcing,1,30,4.0,7,0,0,61

In [4]:
df.isnull().sum()

employee_id                 0
department                  0
region                      0
education                 771
gender                      0
recruitment_channel         0
no_of_trainings             0
age                         0
previous_year_rating     1363
length_of_service           0
KPIs_met_more_than_80       0
awards_won                  0
avg_training_score          0
dtype: int64

In [5]:
df["education"].fillna(df["education"].mode()[0], inplace = True)

/tmp/ipython-input-971253027.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["education"].fillna(df["education"].mode()[0], inplace = True)

In [6]:
df["previous_year_rating"].fillna(df["previous_year_rating"].median(), inplace = True)

/tmp/ipython-input-3835182914.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["previous_year_rating"].fillna(df["previous_year_rating"].median(), inplace = True)

In [8]:
## feature selection
input_features = ["department","region","education","recruitment_channel","no_of_trainings","age","previous_year_rating",
               "length_of_service","awards_won","avg_training_score"]

In [9]:
X = df[input_features]

In [10]:
output_feature = ["KPIs_met_more_than_80"]

In [11]:
y = df[output_feature]

In [23]:
## encoding
cat_col = ["department",	"region",	"education",	"recruitment_channel"]

In [29]:
X = pd.get_dummies(X, columns=cat_col, drop_first=True)

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size=0.33, random_state=42)

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [36]:
from sklearn.metrics import accuracy_score, classification_report

In [37]:

print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.7117258176757133
              precision    recall  f1-score   support

           0       0.73      0.87      0.79      3687
           1       0.65      0.43      0.52      2061

    accuracy                           0.71      5748
   macro avg       0.69      0.65      0.66      5748
weighted avg       0.70      0.71      0.69      5748

In [67]:
## checking data fr new Employee

## new employee data
new_employee_1 = {
    "department": "Analytics",
    "region": "region_2",
    "education": "Masters",
    "recruitment_channel": "sourcing",
    "no_of_trainings": 1,
    "age": 29,
    "previous_year_rating": 4.0,
    "length_of_service": 3,
    "awards_won": 0,
    "avg_training_score": 82
}

In [68]:
new_df = pd.DataFrame([new_employee_1])

In [69]:
#Encoding
new_df_encoded = pd.get_dummies(new_df, drop_first=True)

In [70]:
##aligning new data w training data
new_df_encoded = new_df_encoded.reindex(
    columns=X_train.columns, fill_value=0
)

In [71]:
prediction = model.predict(new_df_encoded)

In [72]:
print("Prediction: ", prediction)

Prediction:  [0]

In [73]:
probability = model.predict_proba(new_df_encoded)

Employee 1 (Prediction = 0)

The model predicts that the employee is slightly unlikely to meet performance KPIs, with a 48% probability, indicating a need for early support or monitoring.

In [74]:
print("Probability: ", probability[0][1])

Probability:  0.4784195412893636

In [75]:
new_employee_2 = {
    "department": "Technology",
    "region": "region_1",
    "education": "Masters",
    "recruitment_channel": "referred",
    "no_of_trainings": 3,
    "age": 35,
    "previous_year_rating": 5.0,
    "length_of_service": 7,
    "awards_won": 1,
    "avg_training_score": 92
}

In [76]:
df_new = pd.DataFrame([new_employee_2])
df_new = pd.get_dummies(df_new, drop_first=True)

df_new = df_new.reindex(columns=X_train.columns, fill_value=0)

In [77]:
pred = model.predict(df_new)

print("Prediction:", pred[0])

Prediction: 1

Employee 2 (Prediction = 1)

The model predicts that the employee is highly likely to meet performance KPIs, with an 83% confidence level, suggesting strong performance potential.

In [78]:
proba = model.predict_proba(df_new)
print("Probability of meeting KPI:", proba[0][1])

Probability of meeting KPI: 0.8260019609121416